body {
  animation: colorchange 20s infinite; /* animation-name followed by duration in seconds*/
     /* you could also use milliseconds (ms) or something like 2.5s */
}

a {
    color:rgb(100,100,100);
    text-decoration:none;
    font-family:sans-serif;
    &:hover {
        text-decoration:underline;
    }
}

@keyframes colorchange {
    0%   {background: #C9C5E0;}
    25%  {background: #D2EDD8;}
    50%  {background: #E5E9AE;}
    75%  {background: #D2EDD8;}
    100%   {background: #C9C5E0;}
}